.container{
    width: 1200px;
    display: flex;
    flex-direction: column;
} 
.section1{
    width: 100%;
    margin-top: 12px;
    background: linear-gradient(134.56deg, rgba(245, 245, 245, 0.5) -23.457%,rgba(245, 245, 245, 0.5) 107.508%);
    padding: 0px 40px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin-bottom: 46px;
}
.make{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h4{
        color: rgb(61, 61, 61);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 10%;
        text-align: left;
        text-transform: uppercase; 
        margin-bottom: 7px;
    }
    h1{
        font-family: Roboto;
        font-size: 70px;
        font-weight: 900;
        line-height: 70px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase; 
        color: rgb(61, 61, 61);
        span{
            color: rgb(70, 163, 88);
        }
    }
    p{
        max-width: 557px;
        color: rgb(114, 114, 114);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left; 
        margin-bottom: 44px;
    }
    button{
        width: 140px;
        height: 40px;
        border-radius: 6px;
        background: rgb(70, 163, 88); 
        border: none;
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase; 
        margin-top: 44px;
        cursor: pointer;
    }
    button:active{
        background-color: hsl(132, 40%, 50%);
    }
}
.dots{
    position: absolute;
    top: 470px;
    left: 580px;
    display: flex;
    gap: 8px;
}
.dot{
    width: 8px;
    height: 8px;
    background: rgba(70, 163, 88, 0.3);
    border-radius: 50%;
    cursor: pointer;
}
.section2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}
.categories{
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 14px 18px;
    background: rgb(251, 251, 251);
}
.categ{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1{
        color: rgb(61, 61, 61);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left; 
    }
}
.wrapEach{
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;
    padding-top: 12px;
    margin-bottom: 20px;
}
.each{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.each1{
    color: rgb(70, 163, 88);
}
.priceRange{
    margin-top: 36px;
    input[type=range] {
        margin-left: 12px;
        -webkit-appearance: none; /* Chrome, Safari 3 */
        -moz-appearance: none; /* Firefox */
        appearance: none; 
        width: 100%; /* Set width as needed */
        height: 4px; /* Set height as needed */
        background: rgb(70, 163, 88); /* Set background color */
        border-radius: 5px; /* Optional: round corners */
        outline: none; /* Remove default focus styling */
        margin: 10px 0; /* Optional: adjust margin */
        margin-top: 20px;
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px; /* Set thumb width */
        height: 16px; /* Set thumb height */
        background: #4CAF50; /* Set thumb color */
        border-radius: 50%; /* Make it a circle */
        cursor: pointer; /* Change cursor on hover */
      } 
      p{
        margin-top: 15px;
        margin-bottom: 16px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
        color: rgb(61, 61, 61);
        span{
            color: rgb(70, 163, 88);
        } 
      }
      button{
        width: 90px;
        height: 35px;
        border-radius: 6px;
        background: rgb(70, 163, 88); 
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        border: none;
        cursor: pointer; 
      }
      button:active{
        background-color: hsl(132, 40%, 50%);
      }
}
.sizePart{
    width: 100%;
    padding-right: 18px;
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .each{
        margin-left: 12px;
        margin-top: 10px;
    }
}
.superSale{
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    h1{
        color: rgb(70, 163, 88);
        font-family: Roboto;
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0%;
        text-align: left; 
    }
    h2{
        color: rgb(61, 61, 61);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center; 
    }
    img{
        width: 100%;
    }
}
.flowers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    margin-left: 50px;
}
.flowerTop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        gap: 30px;
        list-style: none;
        li{
            color: rgb(61, 61, 61);
            font-family: Roboto;
            font-size: 15px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: left; 
            cursor: pointer;
        }
        .allPlants{
            color: rgb(70, 163, 88);
            border-bottom: 2px solid rgb(70, 163, 88);
        }
    }
}
.flowerSort{
    color: rgb(61, 61, 61);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left; 
    select{
        width: 20px;
    }
}
.flowerBottom{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 33px;
    row-gap: 20px;
}
.theSame{
    width: 258px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    h2{
        color: rgb(61, 61, 61);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left; 
        margin-top: 12px;
        margin-bottom: 6px;
    }
    span{
        color: rgb(70, 163, 88);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;  
    }
}
.innerTop{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(251, 251, 251);
}
.section3{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 146px;
}
.numbers{
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;     
    cursor: pointer;
    color: rgb(61, 61, 61);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center; 
    font-weight: bold;
}
.greenN{
    background-color: #4CAF50;
    color: white;
}
.section4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 138px;
}
.leftSec{
    width: 586px;
    height: 250px;
    background: rgb(251, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
    padding: 30px;
    position: relative;
    h1{
        color: rgb(61, 61, 61);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 900;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: right;
        text-transform: uppercase; 
    }
    p{
        color: rgb(114, 114, 114);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: right; 
        margin-top: 10px;
        margin-bottom: 20px;
    }
    button{
        width: 85px;
        height: 30px;
        border-radius: 6px;
        background: rgb(70, 163, 88); 
        border: none;
        color: white;
        font-family: Roboto;
        font-size: 12px;
    }
}
.rightSec{
    width: 586px;
    height: 250px;
    background: rgb(251, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
    padding: 30px;
    position: relative;
    h1{
        color: rgb(61, 61, 61);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 900;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: right;
        text-transform: uppercase; 
    }
    p{
        color: rgb(114, 114, 114);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: right; 
        margin-top: 10px;
        margin-bottom: 20px;
    }
    button{
        width: 85px;
        height: 30px;
        border-radius: 6px;
        background: rgb(70, 163, 88); 
        border: none;
        color: white;
        font-family: Roboto;
        font-size: 12px;
    }
}
.imageP1{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.imageP2{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.section5{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 112px;
}
.our{
    color: rgb(61, 61, 61);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center; 
    margin-bottom: 15px;
}
.online{
    color: rgb(114, 114, 114);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center; 
    margin-bottom: 35px;
}
.containerFlow{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cactus{
    width: 268px;
    display: flex;
    flex-direction: column;
}
.restCactus{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 12px;
    background: rgb(251, 251, 251);
    h2{
        color: rgb(70, 163, 88);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left; 
        margin-bottom: 4px;
    }
    h1{
        color: rgb(61, 61, 61);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left; 
    }
    p{
        color: rgb(114, 114, 114);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 4px;
        margin-bottom: 9px; 
    }
    span{
        color: rgb(61, 61, 61);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left; 
    }
}
.strokeImg{
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;     
    cursor: pointer;
    color: rgb(61, 61, 61);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;  
}
.numContainer{
    display: flex;
    gap: 10px;
}
.greenDiv{
    background-color: rgb(70, 163, 88);
    color: white;
}
button{
    cursor: pointer;
}